<div class="d-flex w-100 justify-content-between align-items-center">
  <h1>{{ game.title }}</h1>
  <app-game-rating [rate]="game.rate"></app-game-rating>
</div>
<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="card-title">Price</h4>
      <div class="lead">{{ game.price | currency }}</div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Release year
      <span class="badge bg-light rounded-pill">{{ game.year }}</span>
    </li>

    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Minimum players to play
      <span class="badge bg-primary rounded-pill">{{ game.minPlayers }}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Maximum players to play
      <span class="badge bg-primary rounded-pill">{{ game.maxPlayers }}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Min Age
      <span class="badge bg-warning rounded-pill">{{ game.minAge }}</span>
    </li>
  </ul>
  <div class="card-body" *ngIf="game.publisher">
    <h5 class="card-title">Publisher</h5>
    <div class="card-subtitle text-muted">
      Published by
      <strong class="text-success">{{ game.publisher.name }}</strong>
    </div>
  </div>
  <div class="card-footer text-muted">
    Designed by:
    <div *ngFor="let designer of game.designers">{{ designer }}</div>
  </div>
</div>

<div class="card mb-3" *ngIf="game.reviews.length > 0">
  <h5 class="card-header">Reviews</h5>
  <ul class="list-group">
    <li *ngFor="let review of game.reviews" class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1">{{ review.name }}</h6>
        <small>{{ review.date | date }}</small>
      </div>
      <p class="mb-1 text-muted">{{ review.review }}</p>
    </li>
  </ul>
</div>

