<h1>Mean games</h1>

<div class="list-group">
  <li
    ng-repeat="game in vm.games | orderBy: name"
    class="list-group-item d-flex align-items-center"
  >
    <a class="list-group-item-action" href="/#!/games/{{game._id}}">
      {{game.title}}
    </a>
    <a class="btn btn-info btn-sm" href="/#!/games/edit/{{game._id}}"
      >Edit</a
    >
    <button
      class="btn btn-danger btn-sm ms-2"
      ng-click="vm.deleteGame(game._id)"
    >
      Delete
    </button>
  </li>
</div>

<div class="card mt-4">
  <h5 class="card-header">Add game</h5>
  <div class="card-body">
    <form name="vm.gameForm" ng-submit="vm.addGame()" class="horizontal-form">
      <p class="text-muted">
        To add new games fill in all the fields below: <br />
      </p>
      <div class="form-group">
        <label class="form-label">Title:</label>
        <input
          class="form-control"
          type="text"
          name="title"
          required
          ng-model="vm.formGame.title"
        />
      </div>
      <div class="form-group">
        <label class="form-label">Price:</label>
        <input
          class="form-control"
          type="number"
          name="price"
          required
          ng-model="vm.formGame.price"
        />
      </div>
      <div class="form-group">
        <label class="form-label">Year:</label>
        <input
          class="form-control"
          type="number"
          name="year"
          required
          ng-model="vm.formGame.year"
          ng-maxlength="4"
          ng-minlength="4"
          min="1900"
          max="2021"
        />
        <span
          class="form-text text-warning w-100 ms-3"
          ng-show="vm.gameForm.year.$dirty && vm.gameForm.year.$invalid"
        >
          Year should be between 1900-2021.
        </span>
      </div>
      
      <div class="form-group">
        <label class="form-label">Rate:</label>
        <input
          class="form-control"
          type="number"
          name="rate"
          required
          ng-model="vm.formGame.rate"
          pattern="[1-5]"
        />
        <small
          class="form-text text-warning w-100 ms-3"
          ng-show="vm.gameForm.rate.$dirty && vm.gameForm.rate.$invalid"
          >Rate between 1 and 5</small
        >
      </div>
      <div class="form-group">
        <label class="form-label">Min player: </label>
        <input
          class="form-control"
          type="number"
          name="minPlayer"
          required
          ng-model="vm.formGame.minPlayers"
          pattern="(([01]?[0-9])|(20))"
        />
        <small
          class="form-text text-warning w-100 ms-3"
          ng-show="vm.gameForm.minPlayer.$dirty && vm.gameForm.minPlayer.$invalid"
          >Number is greater than 1 and less than 20</small
        >
      </div>
      <div class="form-group">
        <label class="form-label">Max player:</label>
        <input
          class="form-control"
          type="number"
          name="maxPlayer"
          required
          ng-model="vm.formGame.maxPlayers"
          pattern="(([01]?[0-9])|(20))"
        />
        <small
          class="form-text text-warning w-100 ms-3"
          ng-show="vm.gameForm.maxPlayer.$dirty && vm.gameForm.maxPlayer.$invalid"
          >Number is greater than 1 and less than 20</small
        >
      </div>
      <div class="form-group">
        <label class="form-label">Min age: </label>
        <input
          class="form-control"
          type="number"
          name="minAge"
          required
          ng-model="vm.formGame.minAge"
          min="3"
        />
      </div>
      <div class="form-group">
        <label class="form-label">Designer:</label>
        <input
          class="form-control"
          type="text"
          name="designer"
          required
          ng-model="vm.formGame.designer"
        />
      </div>

      <button class="btn btn-success" type="submit">Add game</button>
    </form>
  </div>
</div>
